@tailwind base;
@tailwind components;

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%; }

#app {
  height: 100%; }

#app {
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black; }

h1 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 141px;
  display: flex;
  align-items: center;
  color: #000000; }

h2 {
  font-family: Heebo;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left; }

p {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 166%; }

a {
  color: black;
  font-size: 24px; 
  text-decoration: underline;
}

.gutters {
  margin: 0px 100px;
}

@media (max-width: 767px) {
  .gutters {
    margin: 0px;
    position: relative;
    overflow: hidden;
  }
}
